## 1.0 Write SQL Queries to Explore and Understand DataSet

In [ ]:
#Write a SQL query that returns the first 20 majors that either:

#have a Median salary greater than or equal to 10,000, or
#have less than or equal to 1,000 Unemployed people
#Only include the following columns in the results and in this order:

#Major
#Median
#Unemployed

'''
SELECT Major, Median, Unemployed 
FROM recent_grads
WHERE Median >= 10000 
OR unemployed <= 1000 Limit 20;
'''

#Using multiple functions

'''
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category = 'Engineering') 
AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051)
ORDER BY ShareWomen DESC;
'''

## 1.1 Summary Statistics using SQL

In [ ]:
# Alias for visualizaiton
#Write a query that returns, in the following order:

#the number of rows as Number of Students
#the maximum value of Unemployment_rate as Highest Unemployment Rate

'''
SELECT COUNT(*) 'Number of Students', MAX(Unemployment_rate) 'Highest Unemployment Rate'
FROM recent_grads
WHERE Major_category = 'Engineering';
'''

In [ ]:
'''
SELECT COUNT(DISTINCT(Major)) 'unique_majors',
COUNT(DISTINCT(Major_category)) 'unique_major_categories',
COUNT(DISTINCT(Major_code)) 'unique_major_codes'
FROM recent_grads;
'''

In [ ]:
# Arthemetic Operation
'''
SELECT Major, Major_category, (P75th - P25th) 'quartile_spread'
FROM recent_grads
ORDER BY quartile_spread LIMIT 20;
'''

## 1.2 Summary Statistics on Group Level

In [ ]:
# Find all of the major categories where the share of graduates with low-wage jobs is greater than .1.

'''
SELECT Major_category, ROUND(AVG(College_jobs) / AVG(Total), 3) 'share_degree_jobs'
FROM recent_grads
GROUP BY Major_category
HAVING share_degree_jobs < 0.3 ;
'''

In [1]:
# Using CAST for calculations
'''
SELECT  Major_category, CAST(SUM(Women) as FLOAT) / CAST (SUM(Total) as FLOAT) 'SW'
FROM recent_grads
GROUP BY Major_category
ORDER BY SW;
'''

"\nSELECTS  Major_category, CAST(SUM(Women) as FLOAT) / CAST (SUM(Total) as FLOAT) 'SW'\nFROM recent_grads\nGROUP BY Major_category\nORDER BY SW;\n"

## 1.3 Subqueries in SQL

In [ ]:
# Dynamic Filters to calculate proportions
# Now that we have a subquery that calculates the average ratio (of Sample_size to Total), we can return the rows that exceed this average.

'''
SELECT Major, Major_category, cast(Sample_size as float)/cast(Total as float) ratio 
FROM recent_grads
WHERE ratio > 
(Select AVG(cast(Sample_size as float)/cast(Total as float)) avg_ratio From recent_grads)

## 1.4 SQL in Python

In [2]:
#Write a query that returns all of the values in the Major column from the recent_grads table.

import sqlite3
conn = sqlite3.connect("jobs.db")

query = "select Major from recent_grads;"
majors = conn.execute(query).fetchall()
print(majors[0:3])

conn.close()

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]